
.screen-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.screen-left-container {
    /* border: 5px black solid; */
    gap: 20px;
    width: 40vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.header p {
    font-size: 30px;
    font-weight: bold;
}

.routine-table-w-title-container {
    height: 85vh;
    border: 1px grey solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.routine-table-w-title {
    margin-top: 20px;
    width: 90%;
}

.routine-table {
    /* border: 5px black solid; */
    margin-top: 10px;
}