

.exercise-page-screen-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 94.5vh;
    gap: 20px;
    background-color: rgb(249, 250, 251);
    
}

.exercise-page-left-side {

}

.exercise-page-right-side {
    
    overflow-y: auto;
    height: 91vh;
    display: flex;
    
}

.main-exercise-photo {
    width: 20vw;
    height: 20vh;
    border: 1px rgb(240,240,240) solid;
    border-radius: 8px;
    background-color: white;
}

.exercise-name-container {
    font-weight: bolder;
    font-size: larger;
}

.img-info-container {
    display: flex;
    gap: 10px;
}

.exercise-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-text {
    color: grey;
}

.header-text {
    font-weight: bolder;
    font-size: larger;
}