
.filterable-searchable-exercise-table-container {
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    border-radius: 10px;
    width: 40vw;
    /* justify-content: center; */
    align-items: center;
    height: 91.5vh;
}

.filterable-searchable-exercise-table-inner-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    margin: 10px;
}

.exercise-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    overflow-y: auto;
}