

.log-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.log-inner-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 60vw;
    gap: 20px;
}

.log-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}