
.profile-right-side-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.named-input-block-container {
    display: flex;
    border-bottom: 1px rgb(236, 237, 240) solid;
    padding: 8px;
    width: 100%;
}

.named-input-name {
    width: 45px;
    margin-right: 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(17, 25, 39);
}