
.routines-screen-container {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -0%); */
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.box-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 1%;
}

.routines-overview-screen-left-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-header {
    font-weight: bold;
    font-size: x-large;
}